body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
}

table {
  width: 100%;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #7fffd4;
  color: #336a7c;
}

table tr:hover {
  background-color: #3bb3b7;
  color: white;
}

.search__container {
  display: flex;
  border-radius: 50px;
  justify-content: space-around;
  align-content: center;
  row-gap: 3em;
  align-items: center;
  height: 400px;
  background: linear-gradient(to right, #adfae0, #7fffd4, #adfae0);
  /* background-color: #7fffd4; */
  width: 80%;
  margin: 0 auto;
  margin-top: 10em;
  flex-wrap: wrap;
}

.search__inputs select,
.search__date,
.search__people {
  border: 0;
  outline: 0;
  height: 50px;
  width: 200px;
}

label {
  color: #2f4858;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.search__inputs:first-of-type {
  margin-top: 39px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.search__button {
  padding: 1em;
  font-weight: bold;
  background-color: #3bb3b7;
  color: white;
  border: none;
  /* box-shadow: 0 0 10px grey; */
  height: 50px;
  width: 100px;
  margin-top: 25px;
}

.search__title {
  color: #2f4858;
  flex-basis: 100%;
  text-align: center;
  font-size: 4em;
  margin: 0 0;
}

.search__results {
  width: 80%;
  margin: 5em auto;
}

svg {
  margin: 5em auto;
}
.svg-calLoader {
  width: 230px;
  height: 230px;
  transform-origin: 115px 115px;
  animation: 1.4s linear infinite loader-spin;
}
.cal-loader__plane {
  fill: #7fffd4;
}
.cal-loader__path {
  stroke: #2f4858;
  animation: 1.4s ease-in-out infinite loader-path;
}
@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-path {
  0% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
  50% {
    stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
  }
  100% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
}
@keyframes loader-path {
  0% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
  50% {
    stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
  }
  100% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
}

.flight__logo {
  width: 25px;
  margin-right: 10px;
  /* display: flex;
  align-items: center; */
}

.flight__times p {
  display: flex;
  align-items: center;
}
