// NAVIGATION

.navigation {
  background-color: $prussian-blue;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  // // justify-content: flex-end;

  &__top {
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.641);
    // box-shadow: 10px 5px 5px 10 rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0 0 0 auto;
    // margin-left: auto;
    padding: 0;

    &.expanded {
      display: flex;
      flex-direction: column;
      width: 100%;

      .navigation__item {
        border-bottom: 1px solid #97cee934;
      }

      .navigation__link {
        width: 100%;
        color: white;
      }

      // align-items: flex-start;
    }
  }

  &__item {
    display: inline-block;
    min-width: 150px;

    flex: 1;
    text-align: center;
    transition: all 0.2s ease;

    &:hover {
      background-color: $fontain-blue;
    }
  }

  &__link {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: $white;

    &:hover {
      color: white;
    }
  }

  .icon {
    // text-align: end;
    // position: absolute;
    // right: 0;
    // margin: auto;
    // // display: block;
    // margin-left: 100px;
    margin-left: auto;
    // font-family: "FontAwesome" !important;

    &:hover {
      background-color: $fontain-blue;
    }
  }
}
